[submodule "ros2_ws/src/FAST_LIO"]
	path = ros2_ws/src/FAST_LIO
	url = https://github.com/hku-mars/FAST_LIO.git
	branch = ROS2
[submodule "ros2_ws/src/Livox-SDK2"]
	path = ros2_ws/src/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
[submodule "ros2_ws/src/livox_ros_driver2"]
	path = ros2_ws/src/livox_ros_driver2
	url = https://github.com/Ericsii/livox_ros_driver2
	branch = feature/use-standard-unit
